div header {
  font-size: 20px;
  color: #1c96ff;
  height: 65px;
  line-height: 65px;
  border-bottom: solid #e4e7e9 1px;
}

div .search-content {
  display: flex;
  padding: 15px;
}

div .search-content .search-left {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

div .search-content .search-left > div {
  width: 260px;
  display: inline-block;
  margin-top: 10px;

}

div .search-content .search-left > div input {
  width: 145px;
  padding-left: 3px;
}

div .search-content .search-right button {
  background: #1c96ff;
  border: none;
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 15px;
}

div select {
  width: 150px;
  height: 23px;
}

div .list-content table tr {
  height: 30px;
}

div .list-content thead tr th {
  background: #f1f1f1;
}

div .list-content table {
  width: 100%;
  border-collapse: collapse;
}

div .list-content table tbody {
  color: #939393;
}

div .list-content table tbody tr td {
  border-bottom: 1px solid #ebebeb;
}

div .list-content table tbody tr .action {
  color: #1c96ff;
}

div .list-content table tbody tr .action span {
  cursor: pointer;
}

div .list-content table th {
  background: #f1f1f1;
}

div .list-content table th,
div .list-content table td {
  text-align: center;
}

div .list-content table .action-detail {
  text-align: center;
}

div .list-content table .action-detail span {
  display: inline-block;
  color: #56bbff;
  cursor: pointer;
  width: 28%;
}

div .pop-action {
  width: 400px;
  border: 1px solid red;
  text-align: center;
}

div .pop-action > div label {
  width: 100px;
  text-align: right;
  display: inline-block;
}

div .pop-action .action button {
  width: 80px;
  height: 28px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

div .pop-action .action .ok {
  color: #fff;
  background: #1c96ff;
}

div .pop-action .action .cancel {
  background: #e9e9e9;
  color: #1b1f22;
}

div .action-after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -10px;
}

div .action-after p {
  width: 200px;
  height: 28px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 0px;
  color: #666;
  background: #fdf3bb;
  line-height: 28px;
  text-align: center;
}

div .copywriting-tips {
  width: 319px;
  height: 333px;
  border: 1px solid #cccccc;
  position: absolute;
  border-radius: 5px;
  display: block;
  background-color: #FFF;
  z-index: 105;
  left: 50%;
  margin-left: -160px;
  top: 205px;
}

div .copywriting-tips .title {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: #f1f1f1;
  display: flex;
  font-size: 14px;
}

div .copywriting-tips .title .title-name {
  flex: 6;
  padding-left: 10px;
  text-align: left;
}

div .copywriting-tips .title .cancel {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

div .copywriting-tips .content {
  padding-top: 40px;
}

div .copywriting-tips .content .required {
  color: red;
  padding-left: 3px;
}

div .copywriting-tips .content div {
  width: 90%;
  margin: 15px auto;
}

div .copywriting-tips .content div label {
  width: 96px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

div .copywriting-tips .content div input {
  width: 150px;
  padding-left: 5px;
}

div .copywriting-tips .action .action-con {
  display: flex;
}

div .copywriting-tips .action button {
  width: 80px;
  height: 28px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

div .copywriting-tips .action .ok {
  color: #fff;
  background: #1c96ff;
}

div .copywriting-tips .action .cancel {
  background: #e9e9e9;
  color: #1b1f22;
}

div .checkbox, div .radio {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #3cbaff;
  border-radius: 50%;
  text-align: center;
  vertical-align: -3px;
}

div .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3cbaff;
  vertical-align: 4px;
}

div .active {
  height: 14px;
  width: 14px;
  background: url(/imgs/im_icon_new.png) no-repeat -86px 0;
  border: none;
}

div .vdp-datepicker {
  display: inline-block;
}

div .tip-wrap {
  left: 0px;
  top: 0px;
  z-index: 100;
  position: absolute;
  display: none;
  background-color: #000;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

div .tip-wrap .action {
  text-align: center;
  margin-top: 35px;
}

div .tip-wrap .action .action-con {
  width: 230px;
  margin: 0 auto;
  display: flex;
}

div .tip-wrap .action .action-con div {
  flex: 1;
  text-align: center;
}

div .tip-wrap .action button {
  width: 66px;
  height: 22px;
  border-radius: 3px;
  cursor: pointer;
}

div .tip-wrap .action .cancel {
  background-color: #ffffff;
}

div .tip-wrap .action .update, div .tip-wrap .action .confirm {
  background-color: #56bbff;
  color: #ffffff;
  border: none;
}

div .tip-wrap .action .update, div .tip-wrap .action .continueAdd {
  display: none;
}
